@{
    ViewData["Title"] = "Pessoas Cadastradas";
}

<div class="p-5">
    <script src="@Url.Content("~/js/site.js")"></script>
    <div class="border border-light border-5 rounded">
        <div class="container"> <!-- Container Botstrap, que vai alinhar o conteúdo-->
            <div class=" p-5"> <!-- outro container, com preenchimento interno de 5 unidade-->
            <div class="row">
                <div class="col-8">
                    <h6>Pessoas Cadastradas</h6>
                </div>
                <div class="col-4">
                        <button class="btn btn-sm btn-outline-success novaPessoa">Nova Pessoa</button>  <!-- sm = pequeno-->
                </div>

                <hr/>

                    <div class="p-5 rounded shadow-sm" id="divTabela">

                </div>
            </div>
            </div>
        </div>
    </div>
</div>
